
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: left;
  }

  .reveal {
    visibility: hidden;
    position: relative;
    width: 80%;
    overflow: hidden;
  }

  * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }




